<table id="datatable" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Date</th>
      <th>Time</th>
      <th>Location</th>
      <th>Community Farm</th>
      <th>Child Labour</th>
    </tr>
  </thead>

  <tbody>
    <% @raids.each do |raid| %>
      <tr>
        <td><%= raid.id %></td>
        <td><%= raid.title %></td>
        <td><%= raid.date.strftime('%d, %B %Y') %></td>
        <td><%= raid.time.strftime('%I:%M %p') %></td>
        <td><%= raid.location.name %></td>
        <td>
          <% if raid.community_farm_blank? %>
            <%= link_to raid.community_farm_status, new_raid_community_farm_path(raid)%>
          <% else %>
            <%= link_to raid.community_farm_status, edit_raid_community_farm_path(raid, raid.community_farms.first)%>
          <%end%>
        </td>
        <td><%= link_to 'Child-Labour',new_child_labour_path(raid.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>