<%= f.text_field :address_line_1 %>
<%= f.text_field :address_line_2 %>
<div class="row">
<div class="col-md-6">
	<%= f.text_field :city, placeholder: 'City' %>
</div>
<div class="col-md-6">
<%= f.text_field :state, placeholder: 'State' %>
</div>
</div>
<div class="row">
<div class="col-md-4">
<%= f.text_field :pincode, placeholder: 'Pincode' %>
</div>
</div>
