  <div class="row">
  <div class="col-md-2">
  <%= label_tag "#{t('police_department')}" %>
  <%= text_field_tag :department, @department.name, class: 'form-control', disabled: true%><br/>
  </div>
  <div class="col-md-8"></div>
  <div class="col-md-2">
  <%= label_tag "#{t('date')}"%>
  <%= text_field_tag :date, @raid.datetime.strftime("%d, %B %Y"), class: 'form-control', disabled: true%><br/>
  </div>
  </div>
  <div class="row">
  <div class="col-md-12"><b>* <%=t('child_labour_details')%></b></div>
  </div><br/>
  <div class="row">
  <div class="col-md-4">
    <%= f.text_field :first_name,label:"#{t('first_name')}"%>
  </div>
  <div class="col-md-4">
    <%= f.text_field :last_name,label:"#{t('last_name')}"%>
  </div>
  <div class="col-md-2"><%= f.number_field :age,label:"#{t('age')}" %></div>
  </div>
  <div class="row">
  <div class="col-md-4">
    <%= f.text_field :father_name,label:"#{t('father_name')}" %>
  </div>
  <div class="col-md-4">
    <%= f.text_field :mother_name ,label:"#{t('mother_name')}"%>
  </div>
  </div>
  <div class="row">
  <div class="col-md-6">
  <%= label_tag "#{t('gender')}" %>
  <div class="row form-inline">
  <div class="col-md-2"><%= f.radio_button :gender, "Male", checked: true%> <%= label_tag "#{t('male')}" %></div>
  <div class="col-md-2"><%= f.radio_button :gender, "Female"%> <%= label_tag "#{t('female')}" %></div></div>
  </div>
  </div><br/>
  <div class="row">
  <div class="col-md-3">
    <%= f.text_field :pet_name,label:"#{t('pet_name')}"%>
  </div>
  <div class="col-md-3">
    <%= f.text_field :mother_tongue,label:"#{t('mother_tongue')}"%>
  </div>
  </div>
  <div class="row">
  <div class="col-md-6">
  <%= f.fields_for :addresses do |ff|%>
    <%= render '/children/addresses_form', f: ff %>
  <%end%>
  </div>
  </div>
  <div class="row">
  <div class="col-md-12"><b>* <%=t('write_answer_of_questions')%></b></div>
  </div><br/>
  <% if @questions.present? %>
    <% @questions.each_with_index do |q|%>
      <%= f.fields_for :answers do |fa|%>
      <div class="row">
        <div class="col-md-4">
          <%= label_tag "#{t('question')}" %>
          <%= text_field_tag :q, "#{q.question}", class: 'form-control', disabled: true %>
        </div>
        <div class="col-md-3">
          <%= fa.hidden_field :question_id, value: q.id %>
          <% if q.is_yes_no_answer %>
          <%= label_tag "#{t('answer')}"%>
          <div class="row form-inline">
            <div class="col-md-4">
              <%= fa.radio_button :answer, 'Yes', checked: true %> Yes
            </div>
            <div class="col-md-4">
              <%= fa.radio_button :answer, 'No'%> No
            </div>
          </div>
          <% else %>
            <%= fa.text_field :answer %>
          <%end%>
        </div>
      </div>
      <%end%>
    <%end%>
  <% else %>
    <%= f.fields_for :answers do |fa|%>
      <div class="row">
        <div class="col-md-4">
          <%= fa.text_field :question_, disabled: true ,label:"#{t('question')}"%>
        </div>
        <div class="col-md-3">
          <%= fa.hidden_field :id %>
          <%= fa.text_field :answer,label:"#{t('answer')}" %>
        </div>
      </div>
    <%end%>
  <% end %>
  <div class="row">
    <div class="col-md-8">
      <%= f.text_area :description, rows: 10,label:"#{t('description')}"%>
    </div>
  </div>
  <% unless @child.id.blank? %>
  <div class="row">
    <div class="col-md-4">
    <%= f.text_field :submited_by_user,label: "#{t('submited_by_user')}", disabled: true%>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="col-md-1">
      <%= f.label :attachments,label:"#{t('attachment')}",:class => 'control-label' %>
    </div>
    <div class="col-md-11">
      <%= link_to "#{t('add_file')}", attachments_dashboard_index_path, class: 'btn btn-success btn-xs', remote: true %>
    </div>
    <div class="col-md-12">
      <div class="attachment">
        <% unless @child.new_record? %>
          <% @child.attachments.each do |attachment|%>
            <% if IMAGE_CONTENT_TYPE.include? attachment.file_content_type %>
              <%= image_tag "#{attachment.file.url}", width: 200, height: 200 %><br/>
            <%end%>
            <%= link_to attachment.file_file_name, attachment.file.url, target: '_blank' %><br/>
          <%end%>
        <% end %>
      </div>
    </div>
  </div>
