  <div class="row">
  <div class="col-md-2">
  <%= label_tag :police_department %>
  <%= text_field_tag :department, @department.name, class: 'form-control', disabled: true%><br/>
  </div>
  <div class="col-md-8"></div>
  <div class="col-md-2">
  <%= label_tag :date %>
  <%= text_field_tag :date, @raid.datetime.strftime("%d, %B %Y"), class: 'form-control', disabled: true%><br/>
  </div>
  </div>
  <div class="row">
  <div class="col-md-12"><b>* Child Labour Details</b></div>
  </div><br/>
  <div class="row">
  <div class="col-md-4">
    <%= f.text_field :first_name%>
  </div>
  <div class="col-md-4">
    <%= f.text_field :last_name%>
  </div>
  <div class="col-md-2"><%= f.number_field :age %></div>
  </div>
  <div class="row">
  <div class="col-md-4">
    <%= f.text_field :father_name %>
  </div>
  <div class="col-md-4">
    <%= f.text_field :mother_name %>
  </div>
  </div>
  <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-6">
  <%= label_tag :gender %>
  <div class="row form-inline">
  <div class="col-md-2"><%= f.radio_button :gender, "Male", checked: true%> <%= label_tag :male %></div>
  <div class="col-md-2"><%= f.radio_button :gender, "Female"%> <%= label_tag :female %></div></div>
  </div>
  </div>
  <div class="row">
  <div class="col-md-6">
  <%= f.fields_for :addresses do |ff|%>
    <%= render '/children/addresses_form', f: ff %>
  <%end%>
  </div>
  </div>
  <div class="row">
  <div class="col-md-12"><b>* Write answer of questions</b></div>
  </div><br/>
  <% if @questions.present? %>
    <% @questions.each_with_index do |q|%>
      <%= f.fields_for :answers do |fa|%>
      <div class="row">
        <div class="col-md-4">
          <%= label_tag :question %>
          <%= text_field_tag :q, "#{q.question}", class: 'form-control', disabled: true %>
        </div>
        <div class="col-md-3">
          <%= fa.hidden_field :question_id, value: q.id %>
          <%= fa.text_field :answer %>
        </div>
      </div>
      <%end%>
    <%end%>
  <% else %>
    <%= f.fields_for :answers do |fa|%>
      <div class="row">
        <div class="col-md-4">
          <%= fa.text_field :question_, disabled: true %>
        </div>
        <div class="col-md-3">
          <%= fa.hidden_field :id %>
          <%= fa.text_field :answer %>
        </div>
      </div>
    <%end%>
  <% end %>
  <div class="row">
    <div class="col-md-8">
      <%= f.text_area :description, rows: 10 %>
    </div>
  </div>
  <% unless @child.id.blank? %>
  <div class="row">
    <div class="col-md-4">
    <%= f.text_field :submited_by_user, disabled: true%>
    </div>
  </div>
  <% end %>
  <%= f.submit 'Save', class: 'btn btn-primary' %>
