<% if raid.child_labours.first.id.blank? %>
<div class="row">
  <div class="col-md-3">
  	<%= f.text_field :first_name %>
  </div>
  <div class="col-md-3">
  	<%= f.text_field :middle_name %>
  </div>
  <div class="col-md-3">
  	<%= f.text_field :last_name %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
  	<%= f.text_field :address %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  	<%= f.text_field :contact_no %>
  </div>
</div>
<% else %>
<div class="row">
  <div class="col-md-3">
  	<%= f.text_field :first_name, disabled: true %>
  </div>
  <div class="col-md-3">
  	<%= f.text_field :middle_name, disabled: true %>
  </div>
  <div class="col-md-3">
  	<%= f.text_field :last_name, disabled: true %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
  	<%= f.text_field :address, disabled: true %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  	<%= f.text_field :contact_no, disabled: true %>
  </div>
</div>
<%end%>