<%= bootstrap_form_for ([@raid, @child_labour]), :html => {:multipart => true} do |f| %>
  <div class="row">
  <div class="col-md-2">
  <%= label_tag :police_department %>
  <%= text_field_tag :department, @department.name, class: 'form-control', disabled: true%><br/>
  </div>
  <div class="col-md-8"></div>
  <div class="col-md-2">
  <%= label_tag :date %>
  <%= text_field_tag :date, @raid.date.strftime("%d, %B %Y"), class: 'form-control', disabled: true%><br/>
  </div>
  </div>
  <div class="row">
  <div class="col-md-12"><b>* Child Labour Details</b></div>
  </div><br/>
  <div class="row">
  <div class="col-md-4">
    <%= f.text_field :name %>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-2"><%= f.number_field :age %></div>
  </div>
  <div class="row">
  <div class="col-md-4">
    <%= f.text_field :father_name %>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <%= f.text_field :mother_name %>
  </div>
  </div>
  <div class="row">
  <div class="col-md-6">
  <%= f.text_field :address %>
  </div>
  <div class="col-md-6"></div>
  </div>
  <div class="row">
  <div class="col-md-12"><b>* Employer Details</b></div>
  </div><br/>
  <%= f.fields_for :employer do |ff|%>
    <%= render 'employer_form', f: ff, raid: @raid %>
  <%end%>
  <%= f.text_area :description %>
  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
