<%= form_for(@child_labour) do |f| %>
  <% if @child_labour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child_labour.errors.count, "error") %> prohibited this child_labour from being saved:</h2>

      <ul>
      <% @child_labour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :father_name %><br>
    <%= f.text_field :father_name %>
  </div>
  <div class="field">
    <%= f.label :mother_name %><br>
    <%= f.text_field :mother_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :employer_id %><br>
    <%= f.text_field :employer_id %>
  </div>
  <div class="field">
    <%= f.label :raid_id %><br>
    <%= f.text_field :raid_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :is_deleted %><br>
    <%= f.check_box :is_deleted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
