<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @child_labour.name %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @child_labour.father_name %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @child_labour.mother_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @child_labour.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @child_labour.age %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @child_labour.employer %>
</p>

<p>
  <strong>Raid:</strong>
  <%= @child_labour.raid %>
</p>

<p>
  <strong>Description:</strong>
  <%= @child_labour.description %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @child_labour.is_deleted %>
</p>

<%= link_to 'Edit', edit_child_labour_path(@child_labour) %> |
<%= link_to 'Back', child_labours_path %>
