<%= bootstrap_form_for(@raid) do |f| %>
<div class="row">
  <div class="col-md-5">
    <%= f.text_field :title, disabled: true %>
    <%= f.text_field :raid_for, disabled: true %>
    <%= f.text_field :location_name, disabled: true %>
  </div>
</div>
<div class="row form-inline">
  <div class="col-md-6">
    <%= f.datetime_select :datetime, class: 'en' %>
  </div>
</div><br/>
<div class="row">
  <div class="col-md-8">
    <%= f.text_area :description, rows: 10 %>
  </div>
</div>
  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
