<br/>
<div class="row">
  <div class="col-md-4">
    <%= label_tag "#{t('employers_details')}"%>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
	<%= f.text_field :first_name ,label:"#{t('first_name')}",placeholder:"#{t('first_name')}"%>
  </div>
  <div class="col-md-3">
	<%= f.text_field :middle_name,label:"#{t('middle_name')}",placeholder:"#{t('middle_name')}"%>
  </div>
  <div class="col-md-3">
	<%= f.text_field :last_name, label:"#{t('last_name')}",placeholder:"#{t('last_name')}"%>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
	<%= f.text_field :contact_no, label:"#{t('contact_no')}",placeholder:"#{t('contact_no')}"%>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
	<%= f.fields_for :addresses do |ff|%>
  		<%= render '/employers/addresses_form', f: ff %>
	<%end%>
  </div>
</div>