<table id="datatable" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Sr. No.</th>
      <th>Report Type</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Panchnama</td>
      <td><%= link_to 'Child Labour', panchnama_child_labour_reports_path %></td>
      <td><%= link_to 'Child Begger', panchnama_child_begger_reports_path %></td>

    </tr>
    <tr>
      <td>2</td>
      <td><%= link_to 'Year wise Report', years_reports_path %></td>
      <td><%= link_to 'Child Labour', ''%></td>
      <td><%= link_to 'Child Begger', '' %></td>
    </tr>
    <tr>
      <td>3</td>
      <td> All over Report</td>
      <td><%= link_to 'Child Labour', all_over_child_labours_reports_path %></td>
      <td><%= link_to 'Child Begger', all_over_child_beggers_reports_path%></td>
    </tr>
  </tbody>
</table>